h1{
    color: orange;
    font-size: 11vw;
}

.custom-box{
    
    width:320px;
    padding: 10px;
    border:5px dashed grey;
    margin: 0;
}

#thisone{
    background-color:aquamarine;
}
.thistype{
    background-color:blue;
}
.whitetext{
  color:white;
}

h1{
    background-color:blue;
}